*~ 
*.tmp
__pycache__/
*.pyc

# R temporary/session files
.RData
.Rhistory

# LaTeX log files
*.aux
*.log

#ignore all results content everywhere
results/*
#keep empty results folder
!results/.gitkeep